<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Book</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div align="center">
		<h1>Create New Book</h1>
		<br />
		<form action="#" th:action="@{/book/saveBook}" th:object="${Book}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Book Name:</td>
					<td><input type="text" required="required" autocomplete="Off"
						class="form-control input-sm" th:field="*{bookname}" /></td>
				</tr>
				<tr>
					<td>Publisher Name:</td>
					<td><select class="form-control input-sm" id="publisher">
							<option value="">PILIH</option>
							<option th:each="pub : ${listpublisher}" th:value="${pub.id}"
								th:text="${pub.name}" th:selected="${publisher==pub.id}">
							</option>
					</select></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit"
							class="btn btn-primary btn-sm mb-3">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
